.App {
  margin:0;
  display: grid;
  place-items:center;
  background: #f6f6f6;
  padding:1rem;
}
/*=====STYLING FOR CARD COMPONENT =======*/
.card{
  padding: 1.8rem 1.5rem;
  width:55vw;
  height:auto;
  background: #FFf;
  border: 2px dashed #000;
  border-radius: 1.5rem;

}
.card-title{
  font-size:2rem;
  font-weight: bolder;
  text-align:center;
  padding-bottom:1em;
  text-transform:uppercase;
  letter-spacing:5px;
}
.section{
  margin-bottom: 2rem;
}
/*=====STYLING FOR CARD COMPONENT =======*/

@media screen and (max-width:400px){

}